{% extends 'base.html.twig' %}

{% block title %}ESPACE MEMBRES{% endblock %}

{% block body %}
<style>
    
</style>

<div class="row">
    <div class="col-md-10 mx-auto">
    <h1>Bienvenue dans l'espace MEMBRE </h1>

    <br></br>
        <div class="col-md-6 mx-auto">
        <a href="{{ path('app_profile_annuaire') }}">Annuaire des membres</a><br>
        <br></br>
        <a href="{{ path('app_profile_depots_liste') }}">La liste des dépôts membres</a><br>
        <br></br>
        <a href="{{ path('app_profile_depots_ajout') }}">Ajout d'un dépôt</a><br>
        <br></br>
        <a href="{{ path('app_profile_depots_maliste') }}">votre liste de dépôts</a><br>
        </div> 
    </div>
</div>
{% endblock %}
