<footer class="container text-center mt-4">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            <span class="text-legales">
            </span>
            <br></br>
            <a href="#">Mention Légales  </a>
            <br></br>
            <a href="#">Conditions générales d'Utilisation</a>
        </small>
    </p>
</_footer>            