{% extends 'base.html.twig' %}

{% block title %}METHACOOP ACCUEIL{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-2 mx-auto text-center">
        <h1 class="my-5">METHACOOP page d'ACCUEIL</h1>
    </div>
    <div class="col-md-6 mx-auto text-left">
        <h2 class="my-5">LIENS UTILES</h2>
        <p>  </p>
        <ul>
        <li><h4><a href="https://www.data.gouv.fr/fr/datasets/unites-de-methanisation-france-metropole/" target="_blank">Implantations site ministériel</a></h4></li>
        <li><h4><a href="https://www.ecologie.gouv.fr/biogaz" target="_blank">Biogaz site ministériel </a></h4></li>
        <li><h4><a href="https://atee.fr/energies-renouvelables/club-biogaz" target="_blank">Energies renouvelables site ATEE </a></h4></li>
        <li><h4><a href="https://www.sinoe.org" target="_blank">LE site SINOE </a></h4></li>
        <li><h4><a href="https://projet-methanisation.grdf.fr/" target="_blank">Projet méthanisation avec GRDF </a></h4></li>
        <li><h4><a href="https://aamf.fr/" target="_blank">ASSOCIATION DES AGRICULTEURS méthaniseurs de France</a></h4></li>
        <li><h4><a href="https://projet-methanisation.grdf.fr/tester-mon-potentiel/estimez-votre-potentiel-de-production-de-biomethane" target="_blank">OUTIL ESTIMATION POUR PROJET DE MISE EN OEUVRE UNITE DE METHANISATION MIS A DISPOSITION PAR GRDF</a></h4></li>
        <li><h4><a href="https://projet-methanisation.grdf.fr/mediatheque" target="_blank">Si vous avez des doutes sur le vocabulaire</a></h4></li>
        <li><h4><a href="https://www.ademe.fr/expertises/energies-renouvelables-enr-production-reseaux-stockage" target="_blank">LE site de l'ADEME </a></h4></li>
        <li><h4><a href="http://www.grtgaz.com/fr/solutions-avenir/grtgaz-solutions-davenir-pour-la-transition-energetique/le-biomethane-gaz-renouvelable.html" target="_blank">Projet méthanisation avec GRtGAZ </a></h4></li>
        
        </ul>
    </div>
</div> 
{% endblock %}
