{% extends 'base.html.twig' %}

{% block title %}METHACOOP ACCUEIL{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-2 mx-auto text-center">
        <h1 class="my-5">METHACOOP page d'ACCUEIL</h1>
    </div>
    <div class="col-md-6 mx-auto text-left">
        <h2 class="my-5">LIENS UTILES</h2>
        <p>  </p>
        <ul>
        <li><a href="https://www.data.gouv.fr/fr/datasets/unites-de-methanisation-france-metropole/" target="_blank">Implantations site ministériel</a></li>
        <li><a href="https://www.ecologie.gouv.fr/biogaz" target="_blank">Biogaz site ministériel </a></li>
        <li><a href="https://atee.fr/energies-renouvelables/club-biogaz" target="_blank">Energies renouvelables site ATEE </a></li>
        <li><a href="https://www.sinoe.org" target="_blank">LE site de l'ADEME </a></li>
        <li><a href="https://projet-methanisation.grdf.fr/" target="_blank">Projet méthanisation avec GRDF </a></li>
        </ul>
</div>
<div class="pt-4">
    <a href="{{ path('app_register') }}" class="btn btn-light">INSCRIPTION</a>
</div>    
{% endblock %}
