{% extends 'base.html.twig' %}

{% block title %}METHACOOP C.G.U.{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

</style>

<div class="example-wrapper">
    <h1>Le site projet METHACOOP</h1>
<p>
    <h2> CONDITIONS GÉNÉRALES D'UTILISATION </h2>
    <br>Date de révision : 19 février 2021</br>
</p>
<p>
L’utilisation du site methacoop est soumise au respect de l’ensemble des conditions 
énoncées ci-après. 
</p>
<p>
L’utilisateur s’engage à les respecter.
</p>
<p>
Le concepteur se réserve le droit de revoir périodiquement ces conditions en fonction 
de l’évolution de son portail methacoop. </p>
<p>Les conditions modifiées prendront effet à la date de leur mise à jour en ligne sur le site.
</p>
<p>
L’utilisateur s’engage donc à consulter régulièrement les conditions d’utilisation du site.
Dès que l'utilisateur est inscrit comme membre, il accepte ces conditions générales d'utilisation et prend acte
que ses coordonnées courriel de correspondance sont visibles. Il ACCEPTE de figurer dans l'annuaire consultable par les autres membres inscrit sur le site.
Chaque membre accepte que les informations qu'il dépose sont copiables et garantit donc que ces informations sont libres de droits </p>
<p>
Informations techniques:
L’utilisateur du site methacoop reconnaît disposer de la compétence et des moyens nécessaires 
pour accéder et utiliser ce site. </p>
</div>
{% endblock %}