{% extends 'base.html.twig' %}

{% block title %}MEntions légales{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

</style>

<div class="example-wrapper">
    <br></br>
    <h1>MENTIONS LÉGALES</h1>
    <br></br>
<p>
    Le site METHACOOP
    <br></br>
</p>
<p>
<br></br>
Le Directeur de Publication du site projet-methacoop est Monsieur Philippe Varinot, en sa qualité
<br></br>
de concepteur de ce site.
<br></br>
Pour tout renseignement sur le contenu et le fonctionnement de ce site, les utilisateurs du site
<br></br>
peuvent contacter le concepteur via le formulaire d'inscription et l'usage du dépôt d'un avis en 
<br></br>
espace membre.
<br></br>
<br></br>
Les Conditions générales d'Utilisation sont consultables via le lien indiqué en bas de pages de ce site.
<br></br>
<br></br>
Le site METHACOOP n'est pas protégé en copie car aucun dépôt de propriété n'a été déposé auprès de l'I.N.P.I.. </div>
{% endblock %}