{% extends 'base.html.twig' %}

{% block title %}METHACOOP A Propos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

</style>

<div class="example-wrapper">
    <h1>Le site projet METHACOOP</h1>
<p>
    (Date de révision : 19 janvier 2021
</p>
<p>
Accès public
 
Le site METHACOOP propose l’accès à des données publiques et réservées, dédiées à la méthanisation déposées à des fins collaboratives..

    • - sites gouvernementaux et associatifs dont les cadres juridiques l’autorise.  sites particuliers dès lors que le visiteur l’indique dans un témoignage. 
 
Accès consultatif
 
La communauté des visiteurs/utilisateurs partagera, dans le respect de la réglementation, des témoignages documentés hors dépôts de vidéos s’il est  membre, des coordonnées placées dans un annuaire de dépositaires.
 
Accès collaboratif
 
Chaque membre peut  déposer un document ,une image, un avis accompagnés de ses coordonnées mail. A tout instant, l’utilisateur pourra gérer (R.U.D.) son dépôt précédemment créé par lui même en s’identifiant sur la page membre prévue à cet effet. Dès lors qu’un utilisateur dépose un contenu sur le site, ses coordonnées mail sont visibles en regard des CGU. La suppression du dépôt par son auteur est libre et un espace contact lui permettra dans une version future la suppression de dépôts reconnus inappropriés ou la mise à jour de son dépôt par l’administrateur,  Par soucis de réduire la taille consacrée aux données, chaque visiteur est limité à un seul dépôt( un texte + un document + une image). Pour le moment ces comptes seront concédés à titre gratuit.
 
Administration du site
 
L’ADMINISTRATEUR du site a pour objectif de sécuriser les procédures de collecte d'informations et les conditions d'accès à la base de données. Il dispose d’un espace réservé à la gestion de contenu et d'accès au site :

L’administrateur peut, suite à réclamation appropriée en espace contact ou constatation (prévu en évolution) ou d’inobservation des CGU, supprimer des dépositaires et dépôts du site. Il peut enrichir le contenu en gérant (C.R.U.D.) des informations consultables (actualités ou documentations) .
 
- Evolution du site : les utilisateurs titulaires d’un compte  disposeront d’un espace multi dépôts qu’ils pourront étoffer à leur guise dans la limite de capacité ne dépassant pas 10 dépôts gérables par leur soin. La gestion des mails de contact sera administrée. </p>
</div>
{% endblock %}