{% extends 'base.html.twig' %}

{% block title %}METHACOOP Documentations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: pink; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>LES DOCUMENTATIONS </h1>

    {% for doc in docs %}
    <div>
        <h2><a href="{{ path('app_docus_détail_doc', {id: doc.id}) }}">{{ doc.doctit }}</a></h2>
        <p>Créée il ya {{ doc.createdAt|ago }} </p>
        <p>Mise à jour il y a {{ doc.updatedAt|ago }} </p> 
        
    </div>
    {% endfor %}   
    
</div>
{% endblock %}
